h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

body {
  font-family: 'Montserrat';
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* navigation-bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  line-height: 1.5;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.container-fluid {
  padding: 7% 15%;
}


/* Sections */
.colored-section {
  background-color: #ff4c68;
  color:#fff;
}

.white-section {
  background-color: white;
}


/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

.image {
  position: relative;
}

.title-image {
  width: 50%;
  position: absolute;
  margin: auto;
}

.rotate {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}


/* Features Section */
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.center {
  width: 100%;
}

.col-lg-4{
  padding-bottom: 50px;
}

.fa-check-circle:hover {
   color: red;
}

.fa-bullseye:hover {
  color: red;
}

.fa-heart:hover {
  color: red;
}



/* Testimonial Section */
.testimonial-image {
    width:20%;
    border-radius: 100%;
    margin:20px;
}

#press {
  padding-bottom: 3%;
}
.press-logo {
  width:15%;
  margin: 20px 20px 50px;
}



/* pring section */
#pricing {
padding: 30px;
}



/* call to action section */
#cta {
  padding-top: 30px;
}


/* footer */
.footer-icon {
  padding: 30px;
}

@media(max-width: 990px){

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
  }

  .rotate {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

}
